#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 661px;
    position: relative;
    padding-top: 61px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet{
    width: 38px;
    height: 4px;
    border-radius: 5px;
    border: none;
    vertical-align: super;
    line-height: 0;
  }

  .arrow-box{
    position: relative;
  }
  .arrow::after{
    content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 1px solid #121212; /* 선 두께 */
    border-right: 1px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */

  }