#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.sec2-swiper {
  width: 100%;
  padding: 350px 0;
}

.sec2-swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 272px;
  height: 390px;
}

.sec2-swiper .swiper-slide img {
  display: block;
  width: 100%;
}

.scroll{
  background-position: -475px -31px;
}
